---
import Layout from '../layouts/Layout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import LinksList from '../components/LinksList.astro';

const resources = [
  {
    label: 'WCAG',
    url: 'https://www.w3.org/TR/WCAG21/'
  },
  {
    label: 'WCAG quick reference',
    url: 'https://www.w3.org/WAI/WCAG21/quickref/'
  },
  {
    label: 'W3C - Design and develop - tips and tutorials',
    url: 'https://www.w3.org/WAI/design-develop/'
  },
  {
    label: 'ARIA Authoring Practices Guide (APG) - Pattens',
    url: 'https://www.w3.org/WAI/ARIA/apg/patterns/'
  },
  {
    label: 'Inclusive components',
    url: 'https://inclusive-components.design/'
  },
  {
    label: 'Axe-con 2023',
    url: 'https://www.deque.com/axe-con/schedule/'
  }
]

const tools = [
  {
    label: 'Axe browser extension',
    url: 'https://www.deque.com/axe/browser-extensions/'
  },
  {
    label: 'Wave browser extension',
    url: 'https://wave.webaim.org/extension/'
  },
  {
    label: 'Lighthouse',
    url: 'https://developer.chrome.com/docs/lighthouse/accessibility/'
  },
  {
    label: 'ANDI',
    url: 'https://www.ssa.gov/accessibility/andi/help/install.html'
  }
]

const blogs = [
  {
    label: 'Scott Ohara',
    url: 'https://www.scottohara.me/writing/'
  },
  {
    label: 'Smashing Magazine - Accessibility',
    url: 'https://www.smashingmagazine.com/category/accessibility/'
  },
  {
    label: 'Deque blog',
    url: 'https://www.deque.com/blog/'
  },
  {
    label: 'Usablenet blog',
    url: 'https://blog.usablenet.com/'
  },
  {
    label: 'Funka blog',
    url: 'https://blog.usablenet.com/'
  },
  {
    label: 'Webaxe',
    url: 'http://www.webaxe.org/'
  },
  {
    label: 'Webaim blog',
    url: 'https://webaim.org/blog/'
  },
  {
    label: 'Level Access',
    url: 'https://www.levelaccess.com/blog'
  }
]

const newsletters = [
  {
    label: 'A11y weekly',
    url: 'https://a11yweekly.com/'
  },
  {
    label: 'Dostępnik',
    url: 'https://dostepnik.substack.com/'
  }
]
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="maincontent container mx-auto py-8 flex-grow">
    <h3 class="mb-8 text-6xl font-bold text-primary text-center">Resources</h3>
    <LinksList heading="Guidelines & tutorials" list={resources} />
    <LinksList heading="Tools" list={tools} />
    <LinksList heading="Newsletter" list={newsletters} />
    <LinksList heading="Blogs" list={blogs} />
  </div>
</Layout>
