---
interface Props {
  title: string;
  wrapperId: string;
  tabList: string[];
}
const { title, wrapperId, tabList } = Astro.props
---
<div class="tabs" id={wrapperId} data-wrapper={wrapperId}>
  <h2>{title}</h2>
  <div role="tablist" class="flex">
    {
      tabList.map((tab, i) => (
        <button
          id={`tab-${wrapperId}-${i}`}
          type="button"
          role="tab"
          aria-controls={`tabpanel-${wrapperId}-${i}`}
          aria-selected={i === 0}
          class={`p-4 border-2 border-b-0 ${i !== 0 ? 'border-l-0' : ''}`}
        >
          {tab}
        </button>
      ))
    }
  </div>
  <slot />
</div>
<script>
import { Tabs } from './helpers/tabs'

document.querySelectorAll('.tabs').forEach((elem) => {
  new Tabs(elem)
});
</script>
<style>
button[aria-selected="true"] {
  @apply bg-gradient !text-white;
}
</style>
