---
import Layout from '../../../layouts/Layout.pl.astro';
import { t } from '../../../i18n/utils';
import a11yTips from '../../../content/tips.pl.json';
import TabList from '../../../components/TabList.astro';
import TabPanel from '../../../components/TabPanel.astro';

export async function getStaticPaths() {
  const response = await fetch('https://hp-api.onrender.com/api/characters');
  const data = await response.json()
  data.length = 12;
  return data.map((post, index) => {
    post.tips = a11yTips[index];
    return {
      params: { slug: post.name.replace(' ', '-').toLowerCase() },
      props: post,
    }
  });
}

const post = Astro.props;

const tabList = [
  'Informacje osobiste',
  'Informacje o magii',
  'Inne informacje'
]
---
<Layout title={post.name} description={post.tips?.long || ''}>
  <div class="container mx-auto grid grid-flow-row gap-8 grid-cols-1 sm:grid-cols-2 flex-grow pt-4 md:pt-8">
    <div>
      <h1 class=" custom-after font-bold text-4xl pb-4" lang="en">{post.name}</h1>
      <div class="py-6">
        <p>Gatunek: <span lang="en">{post.species}</span></p>
        {post.alternate_names.length ? <p>Zwany te콮: <span lang="en">{post.alternate_names.join(', ')}</span></p>: <p>Bez alternatywnych imion</p>}
        <p>P켹e캖: <span lang="en">{post.gender}</span></p>
        <p>Dom: <span lang="en">{post.house}</span></p>
        <p>Data urodzenia: <span lang="en">{post.dateOfBirth}</span></p>
        <p>Czarodziej:</p> <p lang="en">{post.wizard}</p>
        <p>Pochodzenie: <span lang="en">{post.ancestry}</span></p>
        <p>Patronus: <span lang="en">{post.patronus}</span></p>
        <p>R칩콮d콮ka: <span lang="en">{Object.entries(post.wand).map(([key, value]) => `${key}: ${value}`).join(', ')}</span></p>
        <p>Kolor oczu: <span lang="en">{post.eyeColour}</span></p>
        <p>Kolor w켹os칩w: <span lang="en">{post.hairColour}</span></p>
        <p>Aktor: <span lang="en">{post.actor}</span></p>
        <p>콭ywy: {post.alive ?  <span>游</span><span class="sr-only">Tak, 콮yje</span> : <span>驕멆잺</span><span class="sr-only">Nie, nie 콮yje</span>}</p>
        <p>Wskaz칩wki: {post.tips?.long}</p>
      </div>

      <TabList title="G켹칩wne zak켹adki" wrapperId="tabby" tabList={tabList}>
        <TabPanel id="tabpanel-tabby-0" tabId="tab-tabby-0" ariaHidden="false">
          <p>P켹e캖: <span lang="en">{post.gender}</span></p>
          <p>Gatunek: <span lang="en">{post.species}</span></p>
          <p>Pochodzenie: <span lang="en">{post.ancestry}</span></p>
          <p>Data urodzenia: <span lang="en">{post.dateOfBirth}</span></p>
          <p>Kolor oczu: <span lang="en"></span>{post.eyeColour}</p>
          <p>Kolor w켹os칩w: <span lang="en">{post.hairColour}</span></p>
          {post.alternate_names.length ? <p>Zwany te콮: <span lang="en"></span>{post.alternate_names.join(', ')}</p>: <p>Bez alternatywnych imion</p>}
        </TabPanel>
        <TabPanel id="tabpanel-tabby-1" tabId="tab-tabby-1" ariaHidden="true">
          <p>Czarodziej: <span lang="en">{post.wizard}</span></p>
          <p>Dom: <span lang="en">{post.house}</span></p>
          <p>Patronus: <span lang="en">{post.patronus}</span></p>
          <p>R칩콮d콮ka: <span lang="en">{Object.entries(post.wand).map(([key, value]) => `${key}: ${value}`).join(', ')}</span></p>
        </TabPanel>
        <TabPanel id="tabpanel-tabby-2" tabId="tab-tabby-2" ariaHidden="true">
          <p>콭ywy: {post.alive ?  <span>游</span><span class="sr-only">Tak, 콮yje</span> : <span>驕멆잺</span><span class="sr-only">Nie, nie 콮yje</span>}</p>
          <p>Aktor w filmach: <span lang="en">{post.actor}</span></p>
          <p>Wskaz칩wki dost캧pno콑ci: {post.tips?.long}</p>
        </TabPanel>
      </TabList>
    </div>
    <div class="flex justify-end items-start">
      <div class="p-8 bg-gradient">
        <img src={post.image} class="w-[300px]" alt={post.name}></div>
      </div>
  </div>
</Layout>
